@model KaShop1.Models.Catgery


<form asp-action="Store" asp-controller="Categories" asp-area="Admin">
    <div class="form-group mb-3">
        <label for="categoryName" asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter your category name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary w-100">Create</button>

</form>