@model List<KaShop1.Models.Catgery>

<h2 class="mb-4 text-primary">Admin Pages - Categories</h2>

<table class="table table-hover table-bordered align-middle text-center shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a href="/Catgery/Details/@item.Id" class="btn btn-info btn-sm me-1">
                        <i class="bi bi-eye"></i> Details
                    </a>
                    <a href="/Admin/Categories/Edit/@item.Id" class="btn btn-warning btn-sm me-1">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a href="/Admin/Categories/Remove/@item.Id" class="btn btn-danger btn-sm"
                    >  
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
